/*font-family: "Raleway",serif;
 */
 body{
    font-family: "Roboto",sans-serif;
    color:#434455;
    background-color: #ffffff;
 }
 
 ul, ol{
   list-style-type: none;
 }

 a{
   text-decoration: none;
 }

 /*---------------header---------------*/
.logo{
   color:#4d5ae5;
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-weight: 700;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.header-logo .logo-part{
   color:#2E2F42;
}

.nav-link{
      color:#2E2F42;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.50;
      letter-spacing: 0.02em;
}

.nav-link:hover, 
.nav-link:focus
{
   color: #404BBF;
}

.contacts{
   font-style: normal;
}

.contacts-link{
   
   color: #434455;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.logo:hover,
h1:hover,
h2:hover,
h3:hover,
li>p:hover{
   text-decoration-line: underline;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
      color: #404BBF;
      text-decoration-line: underline;
}
/*---------------main-----------------*/
    /*-----section-one-----*/
.section-title-list{
      color: #FFFFFF;
      font-size: 56px;
      line-height: 1.07;
      letter-spacing: 0.02em;
      text-align: center;
}

button{
   color: #FFFFFF;
   background-color: #4D5AE5;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   cursor: pointer;
}

button:hover,
button:focus{
   background-color: #404BBF;
}
      /*-----section-two--strategy---*/
h2 {
   color: #2E2F42;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   text-transform: capitalize;
}

h3{
      color: #2E2F42;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
}

li>p{
      color: #434455;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: 0.02em;
}

.strategy{

}

.title-strategy{

}

.stranegy-box{

}

.item-strategy{

}

.strategy-title-list{

}

.strategy-paragraph{

}

.team{
   background: #F4F4FD;
}

.team-box{
   
}

.page-team{

}

.team-item{
   background: #FFFFFF;
}

.team-photo{

}

.team-title{
  /* color: #2E2F42;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: 0.02em;*/
   
}

.team-paragraph{
   /*color: #434455;
   font-family: Roboto;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;*/
}
/*------------Portfolio------------*/
.portfolio{

}
.title-portfolio{

}

.box-portfolio{

}

.portfolio-item{

}

.portfolio-photo{

}

.portfolio-title-list{

}

.portfolio-paragraph{

}

/*---------------footer---------------*/
.section-title,
.page-footer{
   background: #2E2F42;
}
 
.footer-logo .logo-part {
    color: #F4F4FD
 }

.footer-paragraph{
      color: #F4F4FD;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
}